In [3]:
import pandas as pd
#df1=pd.read_csv('/config/workspace/aps_failure_training_set1.csv')
df=pd.read_csv('/config/workspace/artifact/12062022__220004/data_ingestion/dataset/train.csv')
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,1002040,NaN,2.152000e+03,2150.0,0.0,0.0,0.0,0.0,77718.0,...,4855214.0,2290554.0,5625166.0,4878990.0,20947036.0,5224144.0,29170.0,36.0,0.0,0.0
1,neg,11234,0.0,3.280000e+02,NaN,0.0,0.0,0.0,0.0,0.0,...,127434.0,52228.0,93878.0,84044.0,86102.0,64648.0,332.0,0.0,0.0,0.0
2,neg,29622,NaN,7.820000e+02,704.0,0.0,0.0,0.0,0.0,0.0,...,296106.0,129134.0,238698.0,205692.0,155264.0,108940.0,156184.0,2314.0,0.0,0.0
3,neg,38554,NaN,2.130706e+09,1378.0,0.0,0.0,0.0,0.0,0.0,...,278724.0,117300.0,242844.0,218418.0,306336.0,254522.0,184890.0,934.0,0.0,0.0
4,neg,39108,NaN,2.130706e+09,70.0,0.0,0.0,0.0,0.0,0.0,...,351338.0,184318.0,370806.0,350912.0,250294.0,150128.0,141626.0,2046.0,0.0,0.0

In [19]:
drop_column_name=[]
for column_name,missing_percentage in zip((df.isnull().sum()/df.shape[0]).index ,(df.isnull().sum()/df.shape[0]).values):
    #print(column_name,missing_percentage*100)
    if missing_percentage>0.3:
        drop_column_name.append(column_name)

In [36]:
drop_column_name

['ab_000',
 'bk_000',
 'bl_000',
 'bm_000',
 'bn_000',
 'bo_000',
 'bp_000',
 'bq_000',
 'br_000',
 'cr_000']

In [37]:
null_report=df.isna().sum()/df.shape[0]
null_report[null_report>0.3]

ab_000    0.771744
bk_000    0.382349
bl_000    0.451019
bm_000    0.655371
bn_000    0.727185
bo_000    0.765630
bp_000    0.788359
bq_000    0.804905
br_000    0.814024
cr_000    0.771744
dtype: float64

In [4]:
pip install pyyaml

Requirement already satisfied: pyyaml in /config/.local/lib/python3.8/site-packages (6.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import yaml

print(yaml.load("""
 - Hesperiidae
 - Papilionidae
 - Apatelodidae
 - Epiplemidae
 """, Loader=yaml.Loader)
      )

['Hesperiidae', 'Papilionidae', 'Apatelodidae', 'Epiplemidae']